:root {
  /* Actual display size of each individual display*/
  --pixel-size: 2px;
  /* Grid cell is the natural pixel size times 16 */
  --grid-cell: calc(var(--pixel-size) * 16); 
  --bg: #c5ffb8;
}

@media (min-width: 700px) {
  :root {
    --pixel-size: 3px;
  }
}

@media (min-width: 1000px) {
  :root {
    --pixel-size: 4px;
  }
}

html,
body {
  height: 100%;
}

body {
  background: var(--bg);
  display: flex;
  align-items: center;
  justify-content: center;
}

.pixel-art {
  image-rendering: pixelated;
}

.camera {
  width: calc(var(--pixel-size) * 160);
  height: calc(var(--pixel-size) * 144);
  overflow: hidden;
  background-color: #c5ffb8;
  position: relative;
}

.map {
  image-rendering: pixelated;
  background-image: url("assets/_composite.png");
  background-size: 100%;
  /* Our image is 32x32 cells */
  width: calc(32 * var(--grid-cell)); 
  height: calc(32 * var(--grid-cell));
  position: relative;
}

.character {
  width: calc(var(--grid-cell) * 2); 
  height: calc(var(--grid-cell) * 2);
  position: absolute;
  overflow: hidden;
}

.character-spritesheet {
  position: absolute;
  background: url("assets/BasicCharaSpritesheet.png") no-repeat no-repeat;
  background-size: 100%;
  width: calc(var(--grid-cell) * 8);
  height: calc(var(--grid-cell) * 8);
}

.character[facing="right"] .character-spritesheet {
  background-position-y: calc(var(--pixel-size) * -96);
}

.character[facing="up"] .character-spritesheet {
  background-position-y: calc(var(--pixel-size) * -32);
}

.character[facing="left"] .character-spritesheet {
  background-position-y: calc(var(--pixel-size) * -64);
}

.character[walking="true"] .character-spritesheet {
  animation: walkAnimation 0.6s steps(4) infinite;
}

.message-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.85); /* Semi-transparent black background */
  color: red; /* Red text to make it more ominous */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  font-family: 'Gothic', sans-serif;
  text-align: center;
  opacity: 0;
  transition: opacity 2s;
  z-index: 200;
}

@keyframes flicker {
  0%, 18%, 22%, 25%, 53%, 57%, 100% {
      text-shadow: 0 0 10px red, 0 0 20px red, 0 0 30px red, 0 0 40px red, 0 0 70px red;
  }
  20%, 24%, 55% {        
      text-shadow: none;
  }
}

.message-overlay {
  animation: flicker 3s infinite;
}

@keyframes walkAnimation {
  from {
    transform: translate3d(0%, 0%, 0);
  }

  to {
    transform: translate3d(-100%, 0%, 0);
  }
}